<h3>All Blog Posts</h3>
<div>
  <button class="btn btn-sm btn-warning" routerLink="/posts/new">Add new post</button>
  <br>
  <button class="btn btn-sm btn-info" routerLink="/">Back to dashboard</button>
  <br>
  <p *ngIf="isLoadingPost">Loading ...</p>
  <table>
    <thead>
    <tr>
      <th>No</th>
      <th>Post Image</th>
      <th>Title</th>
      <th>Excerpt</th>
      <th>Category</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts; let i = index; ">
      <td >
        {{i + 1}}
      </td>
      <td>
        <div class="post-img-box">
          <img
            src="{{post.data.postImgURL}}"
            (load)="loadingImages[post.id] = false"
            alt="post image">
        </div>
        <div *ngIf="loadingImages[post.id]" class="spinner">
          Loading...
        </div>
      </td>
      <td>{{post.data.title}}</td>
      <td>Excerpt</td>
      <td>{{post.data.category.category}}</td>
      <td>{{post.data.createdAt.toDate() | date:'yyyy/MM/dd h:mm:ss a'}}</td>
      <td>
        <button type="button" class="btn btn-primary" routerLink="/posts/new" [queryParams]="{id: post.id}">Edit</button>
        <button type="button" class="btn btn-danger" (click)="removePost(post.id, post.data.postImgPath)">Delete</button>
        <button *ngIf="!post.data.isFeatured" type="button" (click)="markFeatured(post.id)" class="btn btn-success">Mark Featured</button>
        <button *ngIf="post.data.isFeatured" type="button" (click)="removeFeatured(post.id)" class="btn btn-info">Remove Featured</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
